<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../public/partials/navbar') %>
    <p>这里的内容被盖住了</p>
    <h1>s </h1>
    <h1>s </h1>
    <h1>s </h1>
    <h1>s </h1>
    <h1>s </h1>
    <p>这里是社区页面</p>

</body>
</html>