<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Details</title>
</head>
<body style="margin-top: 50px;">
    <%- include('../public/partials/navbar') %>
    <h1>d</h1>
    <h1>s</h1>
  <h1>Item Details</h1>
  <p>Item ID: <%= id %></p>
  <!-- 在这里添加其他需要展示的信息 -->
</body>
</html>
