<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Details</title>
</head>
<body style="margin-top: 50px;">
    <%- include('../public/partials/navbar') %>

  <!-- 在这里可以添加其他需要展示的信息 -->
  <h1><%= game.game_name %></h1>
  <img src="<%= game.game_photo %>" alt="<%= game.game_name %>">
</body>
</html>
