<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Items</title>
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/indexTypeContent.css">
</head>
<body>

  <!-- 这个里面的路径不受app.use(express.static('public'));影响 -->
  <!-- 导航栏 -->
  <%- include('../public/partials/navbar') %>

  <!-- 导航栏下面所有的内容 -->
  <div class="main">
    <!-- 左侧导航 -->
    <aside class="classify">左侧类别边栏1</aside>
    <!-- 右侧的全部内容区 -->
    <div class="right_content">
      <!-- 内容区最上面的新品轮播图 -->
      <div class="new_content">2</div>
      <!-- 打折区 -->
        <div class="discount_content">
          <button id="prev" class="prev">&lt;</button>
          <div id="content" class="container"></div>
          <button id="next" class="next">&gt;</button>
        </div>
      <!-- 下面的分类罗列区 -->
      <div class="other_content" id="main-container">
        1
      </div>
      
      </div>
    </div>
  
    <script src="/scripts/index.js"></script>

    <script src="/scripts/main.js"></script>

  </body>
  </html>
  