<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/navbar.css">
    <style>
        h1{
            margin: 250px;
        }
    </style>
</head>
<body style="margin-top: 50px;background: url('images/car.png') ;" data-player-id="<%= playerId %>">
  <%- include('../public/partials/navbar') %>
  <h1 style="color: #e8e3e3;
  -webkit-text-stroke: 1px #2f1212;text-align: center;
font-size: 70px;">您还没有购买游戏哦~</h1>
</body>
</html>