<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/personal.css">
</head>
<body>
    <div class="all_info">
        <div class="top_info">
            <div class="personal_photo"><img src="" alt=""></div>
            <div class="main_info">
                <div class="the_name"></div>
                <div class="the_intro"></div>
                <div class="game_coins"></div>
            </div>
            <div class="top_right_info"></div>
        </div>
        <div class="bottom_info">
            <div class="left_games_info"></div>
            <div class="right_talk_info"></div>
        </div>
    </div>
    <footer></footer>
</body>
</html>