body {
  margin: 0;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  background: radial-gradient(ellipse at center, blue, red);
  background-size: 200% 200%;
  animation: gradient-animation 6s infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: center;
  }
  50% {
    background-position: calc(50% + 50px) calc(50% + 50px);
  }
  100% {
    background-position: center;
  }
}


  .navbar {
    width: 100%;
    height: 50px;
    background-color: deepskyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 100;
  }

  .main {
    display: flex;
    flex: 1;
    margin-top: 50px; /* 为了防止内容被顶部导航栏遮挡，这里设置一个与导航栏相等的上边距 */
    /* background-color: rgb(55, 60, 204); */
  }

  .image-container {
    display: inline-block;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to left, rgb(0,19,28), rgb(24, 67, 83));
    pointer-events: none;
  }
  
  .classify {
    width: 20vw;
    height: calc(100vh - 50px); /* 减去顶部导航栏的高度 */
    position: fixed;
    top: 50px; /* 为了防止侧边栏覆盖顶部导航栏，设置一个与导航栏相等的上边距 */
    left: 0;
    background: linear-gradient(to right,  rgb(24, 67, 83),rgb(0,19,28));
    margin-right: 30px;
    padding-top: 30px;
    overflow-y: auto;
    color: rgb(205, 145, 40);
  }
  .classify a{
    margin-top: 20px;
    margin-left: 50px;
    color: #e6e4e4;
  }
  .classify a:hover {
    background: linear-gradient(to top, rgb(27,40,56), rgb(24, 67, 83));
    color: chartreuse;
  
  }
  .right_content{
    margin-left: 20vw
  }
  .discount_content {
    flex: 1;
    /* margin-left: 20vw; */
    margin-right: 30px;
    padding-left: 30px;
    position: relative;
    justify-content: center;
    margin-bottom: 50px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }


  .item {
    width: calc(100% / 3 - 20px);
    /* height: calc((100vw /4 ) * 1); */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(to right, rgba(19, 26, 225, 0.5), rgba(27,40,56, 0.5));
    
  }

  .item img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid rgb(22, 128, 204);
    transition: transform 0.3s ease;
  }
  .item img:hover {
    transform: translateY(-10px) rotate(0deg) scale(1.1);
    z-index: 9998;
  }
  

  .prev,
  .next {
    position: absolute;
    top: 50%;
    height: 130px;
    transform: translateY(-50%);
    font-size: 24px;
  }

  .prev {
    left: 0px;
    background: linear-gradient(to right, rgb(6, 6, 20), rgb(34, 64, 133));

  }

  .next {
    right: -30px;
    background: linear-gradient(to right,  rgb(34, 64, 133),rgb(6, 6, 20));

  }

  .nameDiv{
    display: flex;
    flex-direction: row;
    height: 35px;
  }

  a{
    text-decoration: none;
    color: inherit;
  }

  .left-category-link {
    display: block;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 10px;
    /* 左侧 侧边框*/
  }
 
  